{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'list_menu' %}
                    {% render 'drawer-menu', link: link, section: section, menu: block.settings.menu %}
                  {% when 'mega_menu' %}
                    {% if block.settings.first_menu != blank %}
                      {% render 'drawer-menu', link: link, section: section, menu: block.settings.first_menu %}
                    {% endif %}
                    {% if block.settings.second_menu != blank %}
                      {% render 'drawer-menu', link: link, section: section, menu: block.settings.second_menu %}
                    {% endif %}
                  {% when 'link' %}
                    <li>
                      <a
                        href="{{ block.settings.link }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if block.settings.link.current %} menu-drawer__menu-item--active{% endif %}"
                        {% if block.settings.link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ block.settings.linklist_title | escape }}
                      </a>
                    </li>
                {% endcase %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
