<div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
  <div data-pf-type="Column" class="sc-XxNYO eWQzGj pf-196_">
    <div data-pf-type="Custom.HTML" class="pf-197_" store="[object Object]">
      <div class="container__logo-carousel">

        <div class="logo-carousel animate desktop  animate mobile">


          <div class="logo-flex  w-50 ">
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_588.png?v=1711618880">

            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_589.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_590.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_591.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_592.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_593.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_594.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_595.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_596.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_597.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_598.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_588.png?v=1711618880">

            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_589.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_590.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_591.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_592.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_593.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_594.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_595.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_596.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_597.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_598.png?v=1711618880">
            </div>
          </div>






          <div class="logo-flex w-50 display">
           <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_588.png?v=1711618880">

            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_589.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_590.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_591.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_592.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_593.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_594.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_595.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_596.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_597.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_598.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_588.png?v=1711618880">

            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_589.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_590.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_591.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_592.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_593.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_594.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_595.png?v=1711618880">
            </div>

            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_596.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_597.png?v=1711618880">
            </div>
            <div class="carousel-item iht">
              <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Screenshot_598.png?v=1711618880">
            </div>
          </div>
          </div>
        </div>
      </div>










      <style>
        .container__logo-carousel {
          overflow: hidden;
          position: relative;
              padding-bottom: 19px;
        }

        .carousel-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
        }

       .carousel-item.iht img {
          max-width: 305px;
         width: auto !important;

        }

        .logo-carousel {
          display: flex;
        }

        .logo-flex {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
        }

        .logo-flex.w-50.display {
          display: none;
        }


        @keyframes marquee {
          0% {
            left: 0;
          }

          100% {
            left: -100%;
          }
        }

        @keyframes mobile-marquee {
          0% {
            left: 0;
          }

          100% {
            left: -250%
          }
        }

        @media screen and (min-width: 641px) {
          .animate.desktop {
            width: 500%;
            animation: marquee 30s linear infinite;
            overflow: hidden;
            position: relative;
          }

          .animate.desktop .logo-flex.w-50 {
            flex-wrap: nowrap;
          }

          .animate.desktop .logo-flex.w-50.display {
            display: flex
          }
        }

        @media screen and (max-width: 640px) {

          .carousel-item {
            width: 150px;
          }

          .animate.mobile {
            width: 500%;
            animation: mobile-marquee 30s linear infinite;
            overflow: hidden;
            position: relative;
          }

          .animate.mobile .logo-flex.w-50 {
            flex-wrap: nowrap;
          }

          .animate.mobile .logo-flex.w-50.display {
            display: flex
          }
        }


        .animate:hover {
          animation-play-state: paused;
        }
      </style>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Ara Insta",
    "settings": [],
    "presets": [
      {
        "name": "Ara Insta"
      }
    ]
  }
{% endschema %}