<style>
  .inner-icn {
    text-align: center;
}

.grd-in {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 62%;
    margin: auto;
}

.sngl {
    width: 94%;
    margin: auto;
}

.imm img {
    width: 100px;
    padding: 20px;
    border-radius: 100px;
    background-color: rgba(196, 196, 196, .16);
}

.sngl h3 {
    
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.sngl p {
    
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    line-height: 23px;
}
.inner-icn {
    padding-bottom: 25px;
    padding-top: 35px;
    background: aliceblue;
}
.fre {
    
    font-size: 36px;
    text-align: center;
    margin-bottom: 42px;
    margin-top: 0;
    font-weight: 700;
    text-transform: capitalize;
}
</style>
<div class="ara-icons-grid">
  <div class="inner-icn">
    <h3 class="fre">Ordnare Non È Masi Stato Cosi Semplice!</h3>
    <div class="grd-in">
      <div class="sngl">
        <div class="imm">
          <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/flash_70x.png?v=1711620326">
        </div>
        <div class="hg">
        <h3>Approfitta subito!</h3>
        <p>Ordina prima che l'offerta lampo svanisca.</p>
        </div>
      </div>
      <div class="sngl">
        <div class="imm">
          <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/flash_70x.png?v=1711620326">
        </div>
        <div class="hg">
        <h3>Approfitta subito!</h3>
        <p>Ordina prima che l'offerta lampo svanisca.</p>
        </div>
      </div>
      <div class="sngl">
        <div class="imm">
          <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/flash_70x.png?v=1711620326">
        </div>
        <div class="hg">
        <h3>Approfitta subito!</h3>
        <p>Ordina prima che l'offerta lampo svanisca.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Ara Icons Grid",
    "settings": [],
    "presets": [
      {
        "name": "Ara Icons Grid"
      }
    ]
  }
{% endschema %}