<style>
  .kuo img {
    max-width: 200px;
    min-width: 200px;
    object-fit: contain;
        max-height: 149px;
}

.kuo {
    display: flex;
    justify-content: center;
    gap: 10%;
      margin-top: -43px;
}

.brnds-inner {
    text-align: center;
    padding-top: 5px;
}

.brnds-inner h3 {
    margin-top: 43px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 25px;
}

.ara-brands {
    background: aliceblue;
    margin-bottom: 25px;
}
</style>
<div class="ara-brands dsk">
  <div class="brnds-inner">
    <h3>VISTO SU</h3>
    <div class="kuo">
      <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/65de5f112dbd7f7bdfc2faf7_forbes.svg?v=1711660028">
      <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/download__5_-removebg-preview_150x.png?v=1711796870">
      <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/965px-La_Repubblica_Logo_svg_180x.png?v=1711660363">
      <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/Il_Sole_24_Ore_svg_6946f27e-6712-4054-af7c-bf7c2e740b94_180x.png?v=1711660401">
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Ara brands",
    "settings": [],
    "presets": [
      {
        "name": "Ara brands"
      }
    ]
  }
{% endschema %}