<style>
  .row-s {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 35% 25% 20% 20%;
}

.row-s img {width: 30px;object-fit: cover;object-position: center center;height: auto;aspect-ratio: 1 / 1;display: table;margin-left: auto;margin-right: auto;}

.inner-tbl {
    width: 90%;
    margin: auto;
}
.hio {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    text-transform: capitalize;
}

h3.sc-Ga {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
}
.snd {
    background: #DCDCDC;
    padding: 15px;
}
  .snd.even {
    background: #F6F6F6;
}
  .erd {
    text-align: center;
}

.erd h3 {text-align: center;font-weight: 700;}
  @media only screen and (max-width:800px){
    h3.sc-Ga {
    font-size: 16px !important;
    margin-left: 0% !important;
    margin-right: auto !important;
}
    h3.hio {
    font-size: 28px;
    margin-top: 20px;
}
    h3.hio {
    font-size: 28px;
    margin-top: 20px;
}

.erd:nth-child(3n) {
    display: none !important;
}

.frth {
    display: none !important;
}
h3.dsw {
    font-size: 14px;
}
.row-s {
    grid-template-columns: 49% 21% 22% !important;
    gap: 4%;
}
  }
</style>
<div class="ara-table">
  <div class="inner-tbl">
    <h3 class="hio">Kickgame: Il Nuovo Re Del Mercato Italiano</h3>
    <h3 class="sc-Ga">Kickgame sbarca in Italia con prezzi imbattibili! Scopri le nostre offerte irresistibili .</h3>
    <div class="row-s">
      <div style="display:inline"></div>
      <div class="erd"><h3>KICK GAME

</h3></div>
      <div class="erd"><h3>Foot locker
</h3></div>
      <div class="erd">
        <h3>JD Sports
</h3>
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
    <div class="row-s">
      <div class="fst">
        <h3 class="dsw">Supporto clienti 24/7: sempre disponibili!</h3>
      </div>
      <div class="snd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/correct.png?v=1711627382 1536w" width="512" height="512"class="sc-img">
      </div>
      <div class="trd">
        <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img2">
      </div>
      <div class="frth">
                <img src="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross_30x.png?v=1711627382" srcset="https://cdn.shopify.com/s/files/1/0594/6815/2902/files/cross.png?v=1711627382 1536w" width="512" height="512"  class="sc-img3">
      </div>
    </div>
  </div>
</div>
<script>
  // Select all elements with class 'snd'
var sndElements = document.querySelectorAll('.snd');

// Loop through the elements and add a class 'even' to even occurrences
for (var i = 0; i < sndElements.length; i++) {
    if (i % 2 === 1) {
        sndElements[i].classList.add('even');
    }
}

</script>
{% schema %}
  {
    "name": "Ara Taable",
    "settings": [],
    "presets": [
      {
        "name": "Ara Taable"
      }
    ]
  }
{% endschema %}