.custom-product-card a {
  text-decoration: none;
}
.multi-grid-product-card {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.multi-grid-product-card .multi-grid-product-info {
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: 7px;
  align-items: center;
}

@media only screen and (max-width: 1080px){
  .multi-grid-product-card .multi-grid-product-info {
    grid-template-columns: 100px 1fr;
  }
}

@media only screen and (max-width: 640px){
  .multi-grid-product-card .multi-grid-product-info {
    grid-template-columns: 140px 1fr;
  }
}